Flask==3.0.3
Werkzeug==3.0.3
Jinja2==3.1.2
python-dotenv==1.0.1
Flask-SQLAlchemy==3.1.1
psycopg2-binary==2.9.9
Flask-Login==0.6.3
Flask-WTF==1.2.1
Flask-Migrate==4.0.5
gunicorn
cryptography
Markdown==3.5.2
SQLAlchemy-Utils==0.41.1
python-docx==1.0.1
pdfplumber==0.10.3
tiktoken==0.7.0
XlsxWriter==3.1.0
langchain==0.3.18
langchain-community==0.3.17
langchain-anthropic==0.3.7
langchain-openai==0.3.6
psycopg2-binary