Flask==2.2.5
Werkzeug==2.0.3
Jinja2==3.1.2
python-dotenv==1.0.0
Flask-SQLAlchemy==3.1.1
psycopg2-binary==2.9.9
Flask-Login==0.6.3 
Flask-WTF==1.1.1
enum34==1.1.10
anthropic
cryptography>=41.0.0
Flask-Migrate==4.0.5
pdfplumber==0.10.3
langchain
langchain-community
langchain-anthropic
langchain-openai
gunicorn
python-docx==1.0.1
