{% extends "base.html" %}

{% block content %}
    <h1 class="my-4">Assessment Questions</h1>
    <div class="row">
        {% for question in questions %}
            <div class="col-12 mb-3">  <!-- Full width card -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ question.question }}</h5>
                        <a href="{{ url_for('main.edit_question', question_id=question.id) }}" class="btn btn-primary">Edit Question</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %} 